<ion-header>
  <ion-toolbar>
    <ion-title>Seleccionar Sonido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group [allowEmptySelection]="true" value="playlists">
      <ion-item>
        <ion-label>MIA_PLAYLIST</ion-label>
        <ion-radio value="miaplaylist"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Rocksito</ion-label>
        <ion-radio value="rocksito"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Solo popular</ion-label>
        <ion-radio value="popular"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>

  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/alarm']" expand="block" color="secondary" shape="round">Volver</ion-button>
    </ion-col>
    <ion-col>
      <ion-button [routerLink]="['/alarm']" expand="block" color="primary" shape="round" type="submit">Guardar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
