<ion-header>
  <ion-toolbar>
    <ion-title>Seleccionar Patrón</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="./../../assets/img/mobile.png" class="phone-img" alt="A mobile phone moving"></ion-img>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/alarm']" expand="block" color="secondary" shape="round">Volver</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" color="primary" shape="round" type="submit">Guardar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
